
//COLORS
$primary-color: #58e1c1;
$secondary-color: #777;
$default-color: #51ddfc;
$error-color: #e4757a;
$info-color: #927bc1;
$success-color: #63cc82;
$warning-color: #fd7856;
$white-color: #fff;

//BreakPoints
$breakpoint: 768px;

// Columns
$col-colors: (
    1:#927bc1,
    2:#fd7856,
    3:#deb2ee,
    4:#7ee6fd,
    5:#88d9a0,
    6:#4da2bb,
    7:#ec9fa3,
    8:#fd9f85,
    9:#e4757a,
    10:#63cc82,
    11:#51ddfc,
    12:#80e8d1,
);

$col-flexb: (
    1:8.33%,
    2:16.67%,
    3:25%,
    4:33.33%,
    5:41.67%,
    6:50%,
    7:58.33%,
    8:66.67%,
    9:75%,
    10:83.33%,
    11:91.67%,
    12:100%,
)

