
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Lato', sans-serif;
    color: $secondary-color;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
  .headline-primary {
    color: $primary-color;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $secondary-color;
  }
  
  .link {
    color: $default-color;
    font-weight: 700;
  }
  
  .blockquote {
    @include blockquote;
  }
  